script(src='https://cdn.jsdelivr.net/npm/inputmask@5.0.6/dist/inputmask.min.js')
script(src='https://cdn.jsdelivr.net/npm/inputmask.phone@1.0.6-beta.0/dist/inputmask.phone.extensions.min.js')
script(src='https://cdn.jsdelivr.net/npm/inputmask.phone@1.0.6-beta.0/dist/phone-codes/phone.min.js')
script(src='./js/app-min.js')