main
	.panel.green
		p Если женщина счастлива, то счастливы все. Моя миссия - делать женщин счастливыми. И я рада, что вы мне сегодня в этом помогли.
	//- .panel.green
	//- 	p 
	//- 		strong Интересный факт: 
	//- 		| Зарплата послов доброй воли ООН признана самой крохотной в мире. Эти люди зарабатывают по 
	//- 		strong 1 доллару
	//- 		| ... в год!
	
	.message
		h2 Спасибо большое за заполнение анкеты! Она поможет мне давать вам самый интересный контент и творить лучшее для вас. 
		//- p Если женщина счастлива, то счастливы все. Моя миссия - делать женщин счастливыми. И я рада, что вы мне сегодня в этом помогли.
		img(src="./assets/images/photo-3.jpg", alt="" loading="lazy")
		a.button.button-green(href="#") Спасибо! 
