doctype html
html(lang="ru-RU")
	head
		include head
	body
		block nav

		block header
			div Hello I'm Header!

		block content
			div Hello I'm Content!

		block footer
			include _footer
			include _js

		block modals
			